<br>
<div id = "login" style="text-align: center;width: 20%;margin-left: 40%;">
    <form [formGroup]="logForm" (ngSubmit)="logIn()">
		<div [ngClass]="['form-group','block']">
			<input type="text" [ngClass]="['form-control','input']" id="email"  placeholder="npr. Nikola@gmail.com" formControlName="email">
			<small class="text-danger" style="color: red;"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.required">
				Email je obavezan</small>
			<small class="text-danger"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.email">
				Neispravan email</small>
		</div>
		<div [ngClass]="['form-group','block']">
			<input type="password" [ngClass]="['form-control','input']"  id="password" placeholder="npr. 1234" formControlName="password">
			<small class="text-danger" style="color: red;"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.required">
				Lozinka je obavezna</small>
			<small class="text-danger"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.minlength">
				Lozinka treba da ima najmanje 4 znaka</small>
		</div>
		
		<div [ngClass]="['form-group','block']">
    		<button id="login-button" type="submit" [ngClass]="['btn btn-primary btn-block',
			status ? 'button is-danger is-outlined' : 'button is-danger is-outlined is-loading']"
			*ngIf="failLogin!==5" 
			[disabled]="logForm.invalid">Log in</button>
		</div>
    </form>
</div>


  



 
  