<br>
<div id = "zahtevSertifikat" style="text-align: center;width: 20%;margin-left: 40%;">
    <form [formGroup]="createForm" (ngSubmit)="update()">
        <div [ngClass]="['form-group','block']">
            <p>Datum početka</p>
            <input type="datetime-local" [ngClass]="['form-control','input']" formControlName="startDate">
			<small style="color: red;"
				*ngIf="createForm.controls.startDate.touched && createForm.controls.startDate.errors?.required">
				Neophodan je datum početka</small>
        </div>
        <div [ngClass]="['form-group','block']">
            <p>Datum završetka</p>
            <input type="datetime-local" [ngClass]="['form-control','input']" formControlName="endDate">
			<small style="color: red;"
				*ngIf="createForm.controls.endDate.touched && createForm.controls.endDate.errors?.required">
				Datum završetka je obavezan</small>
        </div>
        <div [ngClass]="['form-group','block']">
            <p>Email Potvrda</p>
            <input type="text" [ngClass]="['form-control','input']" formControlName="emailPotvrda" placeholder="Email Potvrda">
            <small style="color: red;"
                *ngIf="createForm.controls.emailPotvrda.touched && createForm.controls.emailPotvrda.errors?.required">
                Email Potvrda je obavezna</small>
        </div>
        <p>Templejt</p>
        <div [ngClass]="['form-group','block','select is-rounded']">
            <select formControlName="namena" (change)="pokazivanjeElemenata($event)">
                <option value="Korisnik">Korisnik</option>
                <option value="Moja kuca aplikacija">Moja kuca aplikacija</option>
                <option value="Uredjaj">Uredjaj</option>
                <option value="Admin aplikacija">Admin aplikacija</option>
            </select>
        </div>
        <div *ngIf="pokazivanje===1">
            <div [ngClass]="['form-group','block']">
                <p>Email</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="email" placeholder="Email">
                <small style="color: red;"
                    *ngIf="createForm.controls.email.touched && createForm.controls.email.errors?.required">
                    Email je obavezan</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Ime</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="ime" placeholder="Ime">
                <small style="color: red;"
                    *ngIf="createForm.controls.ime.touched && createForm.controls.ime.errors?.required">
                    Ime is required</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Prezime</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="prezime" placeholder="Prezime">
                <small style="color: red;"
                    *ngIf="createForm.controls.prezime.touched && createForm.controls.prezime.errors?.required">
                    Prezime is required</small>
            </div>
        </div>
        <div *ngIf="pokazivanje===2">
            <div [ngClass]="['form-group','block']">
                <p>Serijski Broj</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="serijskiBroj" placeholder="Serijski Broj">
                <small style="color: red;"
                    *ngIf="createForm.controls.serijskiBroj.touched && createForm.controls.serijskiBroj.errors?.required">
                    Serijski Broj is required</small>
            </div>
        </div>
        <div *ngIf="pokazivanje===3">
            <div [ngClass]="['form-group','block']">
                <p>Naziv</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="naziv" placeholder="Naziv">
                <small style="color: red;"
                    *ngIf="createForm.controls.naziv.touched && createForm.controls.naziv.errors?.required">
                    naziv is required</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Svrha</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="svrha" placeholder="Svrha">
                <small style="color: red;"
                    *ngIf="createForm.controls.svrha.touched && createForm.controls.svrha.errors?.required">
                    svrha is required</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Serijski Broj</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="serijskiBroj" placeholder="Serijski Broj">
                <small style="color: red;"
                    *ngIf="createForm.controls.serijskiBroj.touched && createForm.controls.serijskiBroj.errors?.required">
                    Serijski Broj is required</small>
            </div>
        </div><br>
        <div [ngClass]="['form-group','block']">
    		<button *ngIf="getRole()==='ROLE_MUSTERIJA'" type="submit" [ngClass]="['btn btn-primary btn-block',status2 ? 'button is-warning is-outlined' : 'button is-warning is-outlined is-loading']" [disabled]="createForm.invalid">Promeni zahtev</button>
		</div>
    </form><br>
    <div class="block">
        
        <button class="button is-outlined" (click)="natrag()">Natrag</button>&nbsp;&nbsp;
        
        <button *ngIf="getRole()==='ROLE_ADMIN'" [ngClass]="[status ? 'button is-danger is-outlined' : 'button is-danger is-outlined is-loading']" (click)="napraviSertifikat()">Napravi sertifikat</button>
    </div>
</div>