<br>
<div style="text-align: center;">
<h2>Odaberite razlog povlacenja, ili</h2>
<div class="dropdown">
    <button onclick="pokazi()" class="dropbtn" id="dropbtn">Cesti razlozi povlacenjax</button>
    <div id="myDropdown" class="dropdown-content">
      <button style="color: black;" class="tad" id="b1">Osoba vise nije od poverenja</button>
      <button class="tad" id="b2">Uplata nije izvrsena</button>
      <button class="tad" id="b3">Istekla nam je licenca</button>
      <button class="tad" id="b4">Klijent je greskom dodat</button>
      <button class="tad" id="b5">Bezbednost sistema je komprovizovana</button>
      <button class="tad" id="b6">Klijent za zatrazio da ga izbacimo</button>
      <button class="tad" id="b7">Ne zelimo da navedemo razlog</button>
      <button class="tad" id="b8">Nema razloga</button>
    </div>
  </div>

<h3>Unesite razlog povlacenja</h3>
<textarea name="text" id="text" cols="40" rows="5"></textarea><br>
<button class="button is-danger is-outlined" (click)="posalji()">Povuci</button>&nbsp;&nbsp;
<button class="button is-outlined" (click)="natrag()">Natrag</button>
</div>