<br>
<div [ngClass]="['content','block']" style="text-align: center;">
    <h2>Sertifikat</h2>
    <p>
        Alias : {{sertifikat.alias}}<br>
        Namena : {{sertifikat.namena}}<br>
        Datum početka : {{sertifikat.startDate}}<br>
        Datum završetka : {{sertifikat.endDate}}<br>
        Subject Email : {{sertifikat.subjectEmail}}<br>
        Organizaciona Jedinica : {{sertifikat.organizacionaJedinica}}<br>
        Naziv Organizacije : {{sertifikat.nazivOrganizacije}}<br>
        Skraceni Naziv Zemlje : {{sertifikat.skraceniNazivZemlje}}<br>
    </p>
    <h3>Issuer</h3>
    <p>
        Ime : {{sertifikat.admin.ime}}<br>
        Prezime : {{sertifikat.admin.prezime}}<br>
        Email : {{sertifikat.admin.email}}<br>
    </p>
    <h3>Subject</h3>
    <p>
        Ime : {{sertifikat.musterija.ime}}<br>
        Prezime : {{sertifikat.musterija.prezime}}<br>
        Email : {{sertifikat.musterija.email}}<br>
    </p>
    <div *ngIf="sertifikat.namena==='Korisnik'">
        <h3>
            Za korisnika sertifikat
        </h3>
        <p>
            Ime : {{sertifikat.zaKorisnika.ime}}<br>
            Prezime : {{sertifikat.zaKorisnika.prezime}}<br>
            Email : {{sertifikat.zaKorisnika.email}}<br>
        </p>
    </div>
    <div *ngIf="sertifikat.namena==='Moja kuca aplikacija'">
        <h3>
            Moja kuca aplikacija sertifikat
        </h3>
        <p>
            Serijski broj : {{sertifikat.zaMojaKucaAplikacija.serijskiBroj}}
        </p>
    </div>
    <div *ngIf="sertifikat.namena==='Uredjaj'">
        <h3>
            Uredjaj sertifikat
        </h3>
        <p>
            Naziv : {{sertifikat.zaUredjaj.naziv}}
            Svrha : {{sertifikat.zaUredjaj.svrha}}
            Serijski Broj : {{sertifikat.zaUredjaj.serijskiBroj}}
        </p>
    </div>
    <div *ngIf="sertifikat.namena==='Za mene'">
        <h3>
            Za mene
        </h3>
    </div>
    <button class="button is-outlined" (click)="natrag()">Natrag</button>&nbsp;&nbsp;
    <button class="button is-danger is-outlined" (click)="povlacenjeSertifikata()">Povuci sertifikat</button>
</div>