<br>
<div id = "zahtevSertifikat" style="text-align: center;width: 20%;margin-left: 40%;">
    <form [formGroup]="createForm" (ngSubmit)="napravi()">
        <div [ngClass]="['form-group','block']">
            <p>Datum početka</p>
            <input type="datetime-local" [ngClass]="['form-control','input']" formControlName="startDate">
			<small style="color: red;"
				*ngIf="createForm.controls.startDate.touched && createForm.controls.startDate.errors?.required">
				Neophodan je datum početka</small>
        </div>
        <div [ngClass]="['form-group','block']">
            <p>Datum završetka</p>
            <input type="datetime-local" [ngClass]="['form-control','input']" formControlName="endDate">
			<small style="color: red;"
				*ngIf="createForm.controls.endDate.touched && createForm.controls.endDate.errors?.required">
				Datum završetka je obavezan</small>
        </div>
        <div [ngClass]="['form-group','block']">
            <p>Email Potvrda</p>
            <input type="text" [ngClass]="['form-control','input']" formControlName="emailPotvrda" placeholder="Email Potvrda">
            <small style="color: red;"
                *ngIf="createForm.controls.emailPotvrda.touched && createForm.controls.emailPotvrda.errors?.required">
                Email Potvrda je obavezna</small>
        </div>
        <p>Namena sertifikata</p>
        <div [ngClass]="['form-group','block','select is-rounded']">
            <select formControlName="namena" (change)="pokazivanjeElemenata($event)">
                <option value="Korisnik">Korisnik</option>
                <option value="Moja kuca aplikacija">Moja kuca aplikacija</option>
                <option value="Uredjaj">Uredjaj</option>
                <option value="Admin aplikacija">Admin aplikacija</option>
            </select>
        </div>
        <div *ngIf="pokazivanje===1">
            <div [ngClass]="['form-group','block']">
                <p>Email</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="email" placeholder="Email">
                <small style="color: red;"
                    *ngIf="createForm.controls.email.touched && createForm.controls.email.errors?.required">
                    Email je obavezan</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Ime</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="ime" placeholder="Ime">
                <small style="color: red;"
                    *ngIf="createForm.controls.ime.touched && createForm.controls.ime.errors?.required">
                    Ime is required</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Prezime</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="prezime" placeholder="Prezime">
                <small style="color: red;"
                    *ngIf="createForm.controls.prezime.touched && createForm.controls.prezime.errors?.required">
                    Prezime is required</small>
            </div>
        </div>
        <div *ngIf="pokazivanje===2">
            <div [ngClass]="['form-group','block']">
                <p>Serijski Broj</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="serijskiBroj" placeholder="Serijski Broj">
                <small style="color: red;"
                    *ngIf="createForm.controls.serijskiBroj.touched && createForm.controls.serijskiBroj.errors?.required">
                    Serijski Broj is required</small>
            </div>
        </div>
        <div *ngIf="pokazivanje===3">
            <div [ngClass]="['form-group','block']">
                <p>Naziv</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="naziv" placeholder="Naziv">
                <small style="color: red;"
                    *ngIf="createForm.controls.naziv.touched && createForm.controls.naziv.errors?.required">
                    naziv is required</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Svrha</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="svrha" placeholder="Svrha">
                <small style="color: red;"
                    *ngIf="createForm.controls.svrha.touched && createForm.controls.svrha.errors?.required">
                    svrha is required</small>
            </div>
            <div [ngClass]="['form-group','block']">
                <p>Serijski Broj</p>
                <input type="text" [ngClass]="['form-control','input']" formControlName="serijskiBroj" placeholder="Serijski Broj">
                <small style="color: red;"
                    *ngIf="createForm.controls.serijskiBroj.touched && createForm.controls.serijskiBroj.errors?.required">
                    Serijski Broj is required</small>
            </div>
        </div>
        <div class="block">
            <br>
            <button type="button" class="btn btn-lg btn-outline-primary" 
                (click)="open(ekstenzije2)">
                Ekstenzije
            </button>
        </div>
        <br>
        <div [ngClass]="['form-group','block']">
    		<button type="submit" [ngClass]="['btn btn-primary btn-block',status ? 'button is-danger is-outlined' : 'button is-danger is-outlined is-loading']" [disabled]="createForm.invalid">Posalji zahtev</button>
		</div>
    </form>
</div>

<ng-template #ekstenzije2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Ekstenzije
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        
        <div class="form-group">
            <label for="templ">
                Templejt
            </label>
            <br>
            <div [ngClass]="['select']" >
                <select (change)="pokazivanjeTemplejta($event)" id="templ">
                    <option value=""></option>
                    <option value="CA">CA</option>
                    <option value="SSL Server">SSL Server</option>
                    <option value="SSL Client">SSL Client</option>
                    <option value="Code Signing">Code Signing</option>
                </select>
            </div>
            <div >
                <div *ngIf="templejt.authorityKeyIdentifierEkstenzije" class="block"><br>
                    <button class="button is-danger">Authority Key Identifier</button>&nbsp;&nbsp;
                    <mat-checkbox [(ngModel)]="isCriticalAuthorityKey">Da li je kriticno</mat-checkbox>&nbsp;&nbsp;
                    <button (click)="templejt.authorityKeyIdentifierEkstenzije = false;" class="button is-danger" >X</button><br>
                </div>
                <div *ngIf="templejt.basicConstraintsEkstenzije" class="block">
                    <button class="button is-danger is-outlined" (click)="open(basicConstraintsEkstenzije)">Basic Constraints</button>&nbsp;&nbsp;
                    <button (click)="templejt.basicConstraintsEkstenzije = false;" class="button is-danger" >X</button>
                </div>
                <div *ngIf="templejt.extendedKeyUsageEkstenzije" class="block">
                    <button class="button is-danger is-outlined" (click)="open(extendedKeyUsageEkstenzije)">Extended Key Usage</button>&nbsp;&nbsp;
                    <button (click)="templejt.extendedKeyUsageEkstenzije = false;" class="button is-danger" >X</button><br>
                </div>
                <div *ngIf="templejt.keyUsageEkstenzije" class="block">
                    <button class="button is-danger is-outlined" (click)="open(keyUsageEkstenzije)">Key Usage</button>&nbsp;&nbsp;
                    <button (click)="templejt.keyUsageEkstenzije = false;" class="button is-danger" >X</button><br>
                </div>
                <div *ngIf="templejt.subjectAlternativeNameEkstenzije" class="block">
                    <button class="button is-danger is-outlined" (click)="open(subjectAlternativeNameEkstenzije)">Subject Alternative Name</button>&nbsp;&nbsp;
                    <button (click)="templejt.subjectAlternativeNameEkstenzije = false;" class="button is-danger" >X</button><br>
                </div>
                <div *ngIf="templejt.subjectKeyIdentifierEkstenzije" class="block">
                    <button class="button is-danger">Subject Key Identifier</button>&nbsp;&nbsp;
                    <mat-checkbox [(ngModel)]="isCriticalSubjectKey">Da li je kriticno</mat-checkbox>&nbsp;&nbsp;
                    <button (click)="templejt.subjectKeyIdentifierEkstenzije = false;" class="button is-danger" >X</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-outline-dark" 
            (click)="modal.close('Save click')">
            Sacuvaj
        </button>
    </div>
</ng-template>

<ng-template #basicConstraintsEkstenzije let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Basic Constraints
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="basicConstraintsForm" (ngSubmit)="napraviBasicConstraints()">
        <div class="modal-body">
                <div class="form-group">
                    <label for="maxLen">
                        Maksimalna duzina
                    </label>
                    <div class="input-group">
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="isCritical">Da li je kriticno</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="isCA">Da li je CA</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <input id="maxLen" type="text" [ngClass]="['form-control','input']" formControlName="maxPathLen" placeholder="50">
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
            <button type="submit"
                class="btn btn-outline-dark" 
                (click)="modal.close('Save click')"  [disabled]="basicConstraintsForm.invalid">
                Sacuvaj
            </button>
        </div>
    </form>
</ng-template>

<ng-template #extendedKeyUsageEkstenzije let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Extended Key Usage
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="extendedKeyUsageForm" (ngSubmit)="napraviextendedKeyUsageEkstenzije()">
        <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="isCritical">Da li je kriticno</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="anyExtendedKeyUsage">Extended key usage</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="id_kp_codeSigning">Code signing</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="id_kp_emailProtection">Email protection</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="id_kp_ipsecEndSystem">IP Security End System</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="id_kp_ipsecUser">IP Security User</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="id_kp_timeStamping">Time Stamping</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="id_kp_OCSPSigning">OCSP Signing</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="id_kp_smartcardlogon">Smartcard logon</mat-checkbox>
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
            <button type="submit"
                class="btn btn-outline-dark" 
                (click)="modal.close('Save click')"  [disabled]="extendedKeyUsageForm.invalid">
                Sacuvaj
            </button>
        </div>
    </form>
</ng-template>

<ng-template #keyUsageEkstenzije let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Key Usage
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="keyUsageForm" (ngSubmit)="napravikeyUsageEkstenzije()">
        <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="isCritical">Da li je kriticno</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="digitalSignature">Digital Signature</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="nonRepudiation">Non Repudation</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="keyEncipherment">Key Encipherment</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="dataEncipherment">Data Encipherment</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="keyAgreement">Key Agreement</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="keyCertSign">Key Certificate Signing</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="cRLSign">CRL Sign</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="encipherOnly">Encipher Only</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="decipherOnly">Decipher Only</mat-checkbox>
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
            <button type="submit"
                class="btn btn-outline-dark" 
                (click)="modal.close('Save click')"  [disabled]="keyUsageForm.invalid">
                Sacuvaj
            </button>
        </div>
    </form>
</ng-template>

<ng-template #subjectAlternativeNameEkstenzije let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Subject Alternative Name
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="subjectAlternativeNameForm" (ngSubmit)="subjectAlternativeNameEkstenzijeMetoda()">
        <div class="modal-body">
                <div class="form-group">
                    <div>
                        <div [ngClass]="['block']">
                            <mat-checkbox formControlName="isCritical">Da li je kriticno</mat-checkbox>
                        </div>
                        <div [ngClass]="['block']">
                            <button class="button is-danger is-outlined" (click)="open(alternativeNamesEkstenzija)">Dodaj Alternativni Naziv</button>
                        </div>
                        <div *ngFor="let name of ekstenzije.subjectAlternativeNameEkstenzije.alternativeNames" class="block">
                            <button type="button" class="button is-warning">
                                {{name.generalNameType}} : {{name.generalNameContent}}
                            </button>&nbsp;&nbsp;
                            <button (click)="ekstenzije.subjectAlternativeNameEkstenzije.alternativeNames.splice(ekstenzije.subjectAlternativeNameEkstenzije.alternativeNames.indexOf(name),1);" class="button is-danger" >X</button>
                            <br>
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
            <button type="submit"
                class="btn btn-outline-dark" 
                (click)="modal.close('Save click')"  [disabled]="subjectAlternativeNameForm.invalid">
                Sacuvaj
            </button>
        </div>
    </form>
</ng-template>

<ng-template #alternativeNamesEkstenzija let-modal>
    <div class="modal-header">
        <h4 class="modal-title" 
            id="modal-basic-title">
            Alternative Name
        </h4>
        <button type="button" class="close"
                aria-label="Close" (click)=
                "modal.dismiss('Cross click')">
  
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form [formGroup]="alternativeNamesForm" (ngSubmit)="alternativeNameMetoda()">
        <div class="modal-body">
                <div class="form-group">
                    <label for="generalNameContent">
                        Vrednost
                    </label>
                    <div class="input-group">
                        <div [ngClass]="['block','select']">
                            <select formControlName="generalNameType">
                                <option value="DNS Name">DNS Name</option>
                                <option value="Directory Name">Directory Name</option>
                                <option value="IP Address">IP Address</option>
                                <option value="Registered ID">Registered ID</option>
                                <option value="RFC 822 Name">RFC 822 Name</option>
                                <option value="URI">URI</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group">
                        <div [ngClass]="['block']">
                            <input id="generalNameContent" type="text" [ngClass]="['form-control','input']" formControlName="generalNameContent" placeholder="">
                        </div>
                    </div>
                </div>
        </div>
        <div [ngClass]="['modal-footer','form-group']">
            <button type="submit"
                class="btn btn-outline-dark" 
                (click)="modal.close('Save click')"  [disabled]="alternativeNamesForm.invalid">
                Sacuvaj
            </button>
        </div>
    </form>
</ng-template>