<table class="table is-hoverable" style="width: 100%;">
    <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>

            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Email
            </th>
            <th>
                Ime
            </th>
            <th>
                Prezime
            </th>

            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </tfoot>
    <tbody *ngFor="let korisnik of lista">
        <tr>
            <td>{{korisnik.email}}</td>
            <td>{{korisnik.ime}}</td>
            <td>{{korisnik.prezime}}</td>
            <td><button *ngIf="mapaIzgled.get(korisnik.email)?.kliknuo" [ngClass]="[mapaIzgled.get(korisnik.email)?.status ? 'button is-danger is-outlined' : 'button is-danger is-outlined is-loading']" (click)="napraviMusterijuNalog(korisnik.email)">Odobri</button></td>
            <td><button *ngIf="mapaIzgled.get(korisnik.email)?.kliknuo" [ngClass]="[mapaIzgled.get(korisnik.email)?.status ? 'button is-link is-outlined' : 'button is-link is-outlined is-loading']" (click)="izbrisiMusteriju(korisnik.email)">Odbij registraciju</button></td>
        </tr>
    </tbody>
</table>