<br>
<div id = "login" style="text-align: center;width: 20%;margin-left: 40%;">
    <form [formGroup]="logForm" (ngSubmit)="logIn()">
		<div [ngClass]="['form-group','block']">
			<input type="text" [ngClass]="['form-control','input']" id="email"  placeholder="npr. Nikola@gmail.com" formControlName="email">
			<small class="text-danger"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.required">
				Email is required</small>
			<small class="text-danger"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.email">
				Email is not valid</small>
		</div>
		<div [ngClass]="['form-group','block']">
			<input type="password" [ngClass]="['form-control','input']"  id="password" placeholder="npr. 1234" formControlName="password">
			<small class="text-danger"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.required">
				Password is required</small>
			<small class="text-danger"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.minlength">
				Password should be at least 4 characters long</small>
		</div>
		
		<div [ngClass]="['form-group','block']">
    		<button id="login-button" type="submit" [ngClass]="['btn btn-primary btn-block','button is-danger is-outlined']" [disabled]="logForm.invalid">Log in</button>
		</div>
    </form>
</div>
<select id="test" name="form_select" (change)="showDiv($event)">
	<option value="0">No</option>
	<option value="1">Yes</option>
 </select>
 <div id="hidden_div" *ngIf="pokazivanje">Hello hidden content</div>
 
  